In [1]:
import pandas as pd
import numpy as np

In [2]:
datasett = pd.read_csv("NYPD_Complaint_Data_Historic.csv", usecols=[1,9,13])

In [3]:
df = pd.DataFrame(datasett)

In [63]:
df1 = df[pd.notnull(df['BORO_NM'])]
df2 = df1[pd.notnull(df['PD_DESC'])]
df3 = df2[pd.notnull(df['CMPLNT_FR_DT'])]

print "epli"

/Applications/Anaconda22/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Applications/Anaconda22/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

epli

In [64]:
df3.CMPLNT_FR_DT = df3.CMPLNT_FR_DT.str.slice(6,10)
print "epli"

epli

In [72]:
print len(df3)

#for i in range(0,5):
#    df3.CMPLNT_FR_DT[i] = df3.CMPLNT_FR_DT[i].str.slice(0,3)

for i in range(3,11):
    print df3.CMPLNT_FR_DT.get_value(i,1)

#for i in range(0,10):
#print df3.CMPLNT_FR_DT(2)
#sub_df.iloc[0] 
#df3.get_value('CMPLNT_FR_DT', 2)

print "epli"

5574009
2015
2015
2015
2015
2015
2015
2015
2015
epli

In [73]:
#df4.to_csv('out.csv')


df3.CMPLNT_FR_DT.get_value(1,1)

KeyError: 1

In [66]:
print df3

        CMPLNT_FR_DT                                       PD_DESC  \
0               2015                FORGERY,ETC.,UNCLASSIFIED-FELO
2               2015                CONTROLLED SUBSTANCE,INTENT TO
3               2015                                     ASSAULT 3
4               2015                                     ASSAULT 3
5               2015                      ASSAULT 2,1,UNCLASSIFIED
6               2015                CONTROLLED SUBSTANCE, POSSESSI
7               2015                      WEAPONS POSSESSION 1 & 2
8               2015                                     ASSAULT 3
9               2015                LARCENY,PETIT FROM BUILDING,UN
10              2015                      LARCENY,PETIT OF BICYCLE
11              2015                LARCENY,PETIT FROM BUILDING,UN
12              2015       LARCENY,GRAND FROM PERSON, BAG OPEN/DIP
13              2015                LARCENY,GRAND FROM PERSON,PICK
14              2015                FORGERY,ETC.,UNCLASSIFIED-FELO
15              2015            ROBBERY,PERSONAL ELECTRONIC DEVICE
16              2015         LARCENY,GRAND FROM EATERY, UNATTENDED
17              2015                             CONTEMPT,CRIMINAL
18              2015                                     ASSAULT 3
19              2015              CRIMINAL MISCHIEF,UNCLASSIFIED 4
20              2015                CONTROLLED SUBSTANCE, POSSESSI
21              2015                                        RAPE 2
22              2015                CONTROLLED SUBSTANCE, POSSESSI
23              2015                             STRANGULATION 1ST
24              2015                          WEAPONS POSSESSION 3
25              2015                                     ASSAULT 3
26              2015                                     ASSAULT 3
27              2015                          WEAPONS POSSESSION 3
28              2015                   MARIJUANA, POSSESSION 4 & 5
29              2015                   INTOXICATED DRIVING,ALCOHOL
30              2015              CRIMINAL MISCHIEF,UNCLASSIFIED 4
...              ...                                           ...
5580005         2015                       AGGRAVATED HARASSMENT 2
5580006         2015                      BURGLARY,RESIDENCE,NIGHT
5580007         2015                            FORGERY,ETC.-MISD.
5580008         2015                ARSON, MOTOR VEHICLE 1 2 3 & 4
5580009         2015  LARCENY,GRAND BY OPEN CREDIT CARD (NEW ACCT)
5580010         2015                         HARASSMENT,SUBD 3,4,5
5580011         2015                         HARASSMENT,SUBD 3,4,5
5580012         2015   LARCENY,GRAND BY ACQUIRING LOST CREDIT CARD
5580013         2015         LARCENY,GRAND FROM VEHICLE/MOTORCYCLE
5580014         2015                ARSON, MOTOR VEHICLE 1 2 3 & 4
5580015         2015                         HARASSMENT,SUBD 3,4,5
5580016         2015                         HARASSMENT,SUBD 3,4,5
5580017         2015                       AGGRAVATED HARASSMENT 2
5580018         2015                              SEXUAL ABUSE 3,2
5580019         2015                ARSON, MOTOR VEHICLE 1 2 3 & 4
5580020         2015                       AGGRAVATED HARASSMENT 2
5580021         2015                       AGGRAVATED HARASSMENT 2
5580022         2015                CONTROLLED SUBSTANCE,INTENT TO
5580023         2015                    HARASSMENT,SUBD 1,CIVILIAN
5580024         2015                         HARASSMENT,SUBD 3,4,5
5580025         2015                      ASSAULT 2,1,UNCLASSIFIED
5580026         2015                    HARASSMENT,SUBD 1,CIVILIAN
5580027         2015                    HARASSMENT,SUBD 1,CIVILIAN
5580028         2015                                     ASSAULT 3
5580029         2015                     ROBBERY,NECKCHAIN/JEWELRY
5580030         2015               ROBBERY,COMMERCIAL UNCLASSIFIED
5580031         2015                         HARASSMENT,SUBD 3,4,5
5580032         2015                      ASSAULT 2,1,UNCLASSIFIED
5580033         2014                       AGGRAVATED HARASSMENT 2
5580034         2001                     BURGLARY,COMMERCIAL,NIGHT

               BORO_NM
0                BRONX
2            MANHATTAN
3               QUEENS
4            MANHATTAN
5             BROOKLYN
6            MANHATTAN
7                BRONX
8                BRONX
9            MANHATTAN
10               BRONX
11           MANHATTAN
12           MANHATTAN
13           MANHATTAN
14            BROOKLYN
15              QUEENS
16           MANHATTAN
17               BRONX
18            BROOKLYN
19              QUEENS
20            BROOKLYN
21              QUEENS
22              QUEENS
23            BROOKLYN
24            BROOKLYN
25            BROOKLYN
26            BROOKLYN
27            BROOKLYN
28            BROOKLYN
29       STATEN ISLAND
30               BRONX
...                ...
5580005         QUEENS
5580006         QUEENS
5580007          BRONX
5580008         QUEENS
5580009       BROOKLYN
5580010         QUEENS
5580011         QUEENS
5580012         QUEENS
5580013       BROOKLYN
5580014         QUEENS
5580015          BRONX
5580016          BRONX
5580017      MANHATTAN
5580018         QUEENS
5580019         QUEENS
5580020         QUEENS
5580021  STATEN ISLAND
5580022       BROOKLYN
5580023      MANHATTAN
5580024          BRONX
5580025       BROOKLYN
5580026       BROOKLYN
5580027         QUEENS
5580028          BRONX
5580029         QUEENS
5580030      MANHATTAN
5580031          BRONX
5580032         QUEENS
5580033          BRONX
5580034       BROOKLYN

[5574009 rows x 3 columns]