In [37]:
import pandas as pd

reviews = pd.read_csv("taxi+_zone_lookup.csv")
print "done"

done

In [34]:
reviews.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [35]:
reviews.shape

(265, 4)

In [38]:
#newReviews = reviews.iloc[:,[1,2,3,4,7,8,9,16]]
newReviews = reviews.iloc[:,[0,2]]
newReviews.head()

   LocationID                     Zone
0           1           Newark Airport
1           2              Jamaica Bay
2           3  Allerton/Pelham Gardens
3           4            Alphabet City
4           5            Arden Heights

In [29]:
newReviews.shape

(9710124, 8)

In [39]:
newReviews.to_csv('taxiLocations.csv')
print "done"

done